body {
  font-family: "Viga", sans-serif;
}
.navbar {
  position: relative;
  z-index: 1;
}
.navbar img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  color: white;
}
.navbar-brand,
.nav-link {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jumbotron {
  height: 200px;
  background-image: url(gambar/bakso.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}
.jumbotron .container {
  position: relative;
  z-index: 1;
}
.kontak {
  background-color: white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  margin-top: -100px;
  border-radius: 12px;
  padding: 20px;
}
.kontak h5 {
  margin-left: 15px;
}
.kontak img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}
.judul {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .nav-link {
    margin-right: 30px;
    text-transform: uppercase;
  }
  .navbar-brand,
  .nav-link,
  .btn {
    color: white !important;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
  .jumbotron {
    margin-top: -70px;
  }
}
